body {
  font-family: 13px helvetica,arial,freesans,clean,sans-serif;
}
img {
  display: inline-block;
  width: 100%;
}
span {
  color: lightgray;
  font-family: sans-serif;
}
ul {
  display: inline-block;
  width: auto;
}
.image-footer {
  border-bottom: 1px lightgray solid;
  display: inline-block;
  width; 5%;
  font-family: 13px helvetica,arial,freesans,clean,sans-serif;
  font-weight: bold;
}

.image-footer .image-number {
  display: inline-block;
  vertical-align: middle;
}
.image-caption a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  position: relative;
}

.image-footer:: after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #bdbebf transparent transparent transparent;
  position: relative;
}
.image-caption {
  display: inline-block;
  position: relative;
  left: auto; %;
}
.octocat{
  display: inline-block;
  width: 30%;
  padding: 5px;
}
.octocat>a>img {
  display: inline-block;
  border: 1px lightgray solid;
  border-radius: 3px;
}
.authors {
  display: inline-block;
  left: %;
}
.authors li {
  display: inline-block;
  width: 100%;
  list-style: none;
}
.authors a{
  position: relative;
  left: 1%
  display: inline-block;
  width: 10%;
}
